.Header{
    min-height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: space-around;
    background-color: #131921;
    color: white;
    align-items: center;
    position: sticky;
    top: 0;
    z-index:10 ;
}
.header__nav{
    display: flex;
    flex-direction: row;
    margin: 15px 20px 15px 20px;    
    
}
.Header__SearchInput{
    display: flex;
    flex-grow: 1;
    object-fit: contain;
    margin: 0 0 0 20px;
    border: none;
    outline: none;
}

.Header_Search{
    min-width: 400px;
    display: flex;
    flex-grow: 1;
    background-color: white;
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 10px;
}
.Header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
   
}

.Header__SearchIcon{
    color: #cd9042 !important;
    margin: 0 10px 0 0;
}

@media screen and (max-width: 410px) {
    .Header_Search  {
        min-width: 300px;
    }
  }
