.Header{
    min-height: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   justify-content: space-around;
    background-color: #131921;
    color: white;
    align-items: center;
    position: sticky;
    top: 0;
    z-index:10 ;
}
.header__nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px 20px 15px 20px;    
    
}
.Header__SearchInput{
    display: flex;
    flex-grow: 1;
    object-fit: contain;
    margin: 0 0 0 20px;
    border: none;
    outline: none;
}

.Header_Search{
    min-width: 400px;
    display: flex;
    flex-grow: 1;
    background-color: white;
    border-radius: 30px;
    margin-right: 10px;
    margin-left: 10px;
}
.Header__logo{
    width: 100px;
    object-fit: contain;
    margin: 0 20px;
    margin-top: 18px;
   
}

.header_options{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}
.header__lineOne{
    font-size: 10px;
}
.header__lineTwo{
    font-size: 13px;
    font-weight: 800;
}

.Header__SearchIcon{
    color: #cd9042 !important;
    margin: 0 10px 0 0;
}

.Header__optionBasketIcon{
    margin-left: 10px;
    color: white;
}
.head__basketCount{
    color: #cd9042 !important
}

@media screen and (max-width: 410px) {
    .Header_Search  {
        min-width: 300px;
    }
  }

  @media screen and (min-width: 450px) {
    .header__nav  {
        min-width: 500px;
    }
  }
